<!DOCTYPE html>
<html>

<head>
    <title>Scoreboard - Backend</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/tennis-padel/backend.css">

    <script>id = "{{ id }}";</script>
    <script type="text/javascript" src="/static/tennis-padel/script.js"></script>
</head>

<body>
    <br>
    <button onclick="window.open(window.location.href + '/show', '_blank')"
        style="background-color: var(--primary1);">Open Scoreboard</button>
    <br>
    <table>
        <tr>
            <th>Jugador</th>
            <th>Set 1</th>
            <th>Set 2</th>
            <th>Set 3</th>
            <th>Puntos</th>
        </tr>
        <tr>
            <td id="player1"></td>
            <td id="marcador_set1_j1">0</td>
            <td id="marcador_set2_j1">0</td>
            <td id="marcador_set3_j1">0</td>
            <td id="marcador_punto_j1">0</td>
        </tr>
        <tr>
            <td id="player2"></td>
            <td id="marcador_set1_j2">0</td>
            <td id="marcador_set2_j2">0</td>
            <td id="marcador_set3_j2">0</td>
            <td id="marcador_punto_j2">0</td>
        </tr>
    </table>

    <br><br>

    <h3 class="info">Current Set:</h3>
    <div class="pointsSection">
        <button onclick="workingSet(false)">-</button>
        <span id="set">1</span>
        <button onclick="workingSet(true)">+</button>
    </div>

    <div class="container">
        <div class="player">
            <h2>Player 1</h2>

            <h3 class="info">Name:</h3>
            <input type="text" id="player1Input" onchange="updatePlayers()" placeholder="Name">

            <h3 class="info">Points</h3>
            <div class="pointsSection">
                <button onclick="changePoitns('pointsJ1', false)">-</button>
                <span id="pointsJ1">0</span>
                <button onclick="changePoitns('pointsJ1', true)">+</button>
            </div>

            <h3 class="info">Sets</h3>
            <div class="pointsSection">
                <button onclick="changeSet('setsJ1', false)">-</button>
                <span id="setsJ1">0</span>
                <button onclick="changeSet('setsJ1', true)">+</button>
            </div>
        </div>

        <div class="player">
            <h2>Player 2</h2>

            <h3 class="info">Name:</h3>
            <input type="text" id="player2Input" onchange="updatePlayers()" placeholder="Name">

            <h3 class="info">Points</h3>
            <div class="pointsSection">
                <button onclick="changePoitns('pointsJ2', false)">-</button>
                <span id="pointsJ2">0</span>
                <button onclick="changePoitns('pointsJ2', true)">+</button>
            </div>

            <h3 class="info">Sets</h3>
            <div class="pointsSection">
                <button onclick="changeSet('setsJ2', false)">-</button>
                <span id="setsJ2">0</span>
                <button onclick="changeSet('setsJ2', true)">+</button>
            </div>
        </div>
    </div>

    <br><br>
    <button onclick="push()" style="background-color: var(--primary1);">Aplicar cambios</button>
    <br><br>

    <div id="successMessage" class="hide">Updated!</div>


    <script>
        pull();
        setTimeout(function () {
            update(true);
        }, 500);
    </script>
</body>

</html>