<!DOCTYPE html>
<html>

<head>
    <title>Scoreboard - Tennis / Padel</title>
    <link rel="stylesheet" href="/static/tennis-padel/frontend.css">
</head>

<body>
    <div class="player">
        <div class="name" id="name_j1">Player 1</div>
        <div class="set" id="set1_j1">0</div>
        <div class="set" id="set2_j1">0</div>
        <div class="set" id="set3_j1">0</div>
        <div class="points" id="points_j1">0</div>
    </div>

    <div class="player">
        <div class="name" id="name_j2">Player 2</div>
        <div class="set" id="set1_j2">0</div>
        <div class="set" id="set2_j2">0</div>
        <div class="set" id="set3_j2">0</div>
        <div class="points" id="points_j2">0</div>
    </div>

    {% include 'config.html' %}
</body>

</html>