@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary1: #A6D19C;
    --primary2: #D13B36;
    --primary3: #041E42;

    --black: #121212;
    --white: #fcfcfc;
    --verde-claro: #E8F4E0;

    background-color: transparent;
}


body {
    font-family: 'Montserrat', sans-serif;
}

th,
td {
    text-align: center;
}

button {
    user-select: none;
}