<!DOCTYPE html>
<html>
<head>
    <title>Sports Scoreboard</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>
        .sport-button {
            padding: 15px;
            margin: 5px;
            font-size: 1rem;

            background-color: var(--primary1);
            color: var(--black);

            border: none;
            border-radius: 5px;

            cursor: pointer;

        }
    </style>
</head>
<body>
    <h1>Sports Scoreboard</h1>
    
    {% for sport in sports %}
        <button class="sport-button" onclick="location.href='/sport/{{ sport }}';">{{ sport }}</button>
    {% endfor %}
</body>
</html>