.mainDiv {
    background-color: #2f2f33;
    max-width: 20rem;

    border: #232323 solid 10px;
    border-right: 0;
    border-radius: 1rem 0 0 1rem;
}

.mainDiv div {
    padding: 0.4rem 1rem;
}


img {
    width: 100%;
    height: 100%;
}

.timeDiv {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.829) 53%, white 200%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    font-size: 30px;
    font-weight: bold;

    color: white;

}

#grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.driver {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 0.5rem;
    color: white;
}

.driver h2,
.driver h3,
.driver img {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;

    text-align: left;
}

.driver .position {
    color: #ffffff80;
    width: 15%;
}

.driver img {
    width: 15%;
    text-align: center;
    align-self: center;
}

.driver h3 {
    width: 40%;
    text-align: right;
}

.driver .name {
    padding-left: 10%;
}

.driver .name,
.driver .time {
    width: 35%;
}