<!DOCTYPE html>
<html>

<head>
    <title>Backend - Volleyball</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/volleyball/backend.css">

    <script type="text/javascript" src="/static/base.js"></script>
    <script type="text/javascript" src="/static/volleyball/backend.js"></script>
</head>

<body>
    <br>
    <button onclick="window.open(window.location.href + '/show', '_blank')"
        style="background-color: var(--primary1);">Open Scoreboard</button>
    <br>
    <!-- <table>
        <tr>
            <th>Team</th>
            <th>Set</th>
            <th>Points</th>
            <th>Changes</th>
        </tr>
        <tr>
            <th id="table_name_team1">Team1</th>
            <td id="table_changes_team1">0</td>
            <td id="table_points_team1">0</td>
            <td id="table_sets_team1">0</td>
        </tr>
        <tr>
            <th id="table_name_team2">Team2</th>
            <td id="table_changes_team2">0</td>
            <td id="table_points_team2">0</td>
            <td id="table_sets_team2">0</td>
        </tr>
    </table> 

    <br><br> -->

    <div class="container" id="board">
        <div class="player" team="team1">
            <h2>Team 1</h2>


            <h3 class="info">Sets</h3>
            <div class="pointsSection" type="sets">
                <button onclick="subtract(this)">-</button>
                <span>0</span>
                <button onclick="add(this)">+</button>
            </div>

            <h3 class="info">Points</h3>
            <div class="pointsSection" type="points">
                <button onclick="subtract(this)">-</button>
                <span>0</span>
                <button onclick="add(this)">+</button>
            </div>


            <h3 class="info">Changes</h3>
            <div class="pointsSection" type="changes">
                <button onclick="subtract(this)">-</button>
                <span>0</span>
                <button onclick="add(this)">+</button>
            </div>
        </div>

        <div class="player" team="team2">
            <h2>Team 2</h2>


            <h3 class="info">Sets</h3>
            <div class="pointsSection" type="sets">
                <button onclick="subtract(this)">-</button>
                <span>0</span>
                <button onclick="add(this)">+</button>
            </div>


            <h3 class="info">Points</h3>
            <div class="pointsSection" type="points">
                <button onclick="subtract(this)">-</button>
                <span>0</span>
                <button onclick="add(this)">+</button>
            </div>

            <h3 class="info">Changes</h3>
            <div class="pointsSection" type="changes">
                <button onclick="subtract(this)">-</button>
                <span>0</span>
                <button onclick="add(this)">+</button>
            </div>
        </div>
    </div>

    <br><br>
    <button onclick="push()" style="background-color: var(--primary1);">Update</button>
    <br><br>

    <div id="successMessage" class="hide">Updated!</div>


    <script>
        pull();
        setTimeout(function () {
            update();
        }, 500);
    </script>
</body>

</html>