<!DOCTYPE html>
<html>

<head>
    <title>Backend - Volleyball</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/volleyball/backend.css">

    <script type="text/javascript" src="/static/base.js"></script>
    <script type="text/javascript" src="/static/volleyball/backend.js"></script>
</head>

<body>
    <br>
    <button onclick="window.open(window.location.href + '/show', '_blank')"
        style="background-color: var(--primary1);">Open Scoreboard</button>
    <br>
    <table>
        <tr>
            <th>Team</th>
            <th>Set</th>
            <th>Points</th>
            <th>Fouls</th>
        </tr>
        <tr>
            <th id="team1_name">Team1</th>
            <td id="team1_set">0</td>
            <td id="team1_points">0</td>
            <td id="team1_fouls">0</td>
        </tr>
        <tr>
            <th id="team2_name">Team2</th>
            <td id="team2_set">0</td>
            <td id="team2_points">0</td>
            <td id="team2_fouls">0</td>
        </tr>
    </table>

    <br><br>

    <div class="container">
        <div class="player">
            <h2>Team 1</h2>

            <h3 class="info">Name:</h3>
            <input type="text" id="player1Input" onchange="updatePlayers()" placeholder="Name">

            <h3 class="info">Points</h3>
            <div class="pointsSection">
                <button onclick="changePoitns('pointsJ1', false)">-</button>
                <span id="pointsJ1">0</span>
                <button onclick="changePoitns('pointsJ1', true)">+</button>
            </div>

            <h3 class="info">Sets</h3>
            <div class="pointsSection">
                <button onclick="changeSet('setsJ1', false)">-</button>
                <span id="setsJ1">0</span>
                <button onclick="changeSet('setsJ1', true)">+</button>
            </div>
        </div>

        <div class="player">
            <h2>Team 2</h2>

            <h3 class="info">Name:</h3>
            <input type="text" id="player2Input" onchange="updatePlayers()" placeholder="Name">

            <h3 class="info">Points</h3>
            <div class="pointsSection">
                <button onclick="changePoitns('pointsJ2', false)">-</button>
                <span id="pointsJ2">0</span>
                <button onclick="changePoitns('pointsJ2', true)">+</button>
            </div>

            <h3 class="info">Sets</h3>
            <div class="pointsSection">
                <button onclick="changeSet('setsJ2', false)">-</button>
                <span id="setsJ2">0</span>
                <button onclick="changeSet('setsJ2', true)">+</button>
            </div>
        </div>
    </div>

    <br><br>
    <button onclick="push()" style="background-color: var(--primary1);">Aplicar cambios</button>
    <br><br>

    <div id="successMessage" class="hide">Updated!</div>


    <script>
        pull();
        setTimeout(function () {
            update(true);
        }, 500);
    </script>
</body>

</html>