<!DOCTYPE html>
<html>

<head>
    <title>Scoreboard - Volleyball</title>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/volleyball/frontend.css">

    {% if conf['scoreboard_center'] == 'True' %}
    <link rel="stylesheet" href="/static/scoreboard_center.css">
    {% endif %}
</head>

<body>
    <script>id = '{{ id }}'</script>

    <div class="board">
        <div class="team">
            <div class="name" id="name_team1">Team 1</div>
            <div class="logo">
                <img src="/static/volleyball/logos//volei-sant-cugat-b.png" alt="logo1">
            </div>


            <div class="score">
                <div>
                    <div class="faults" id="set1_team1">0</div>
                    <p>FAULTS</p>
                </div>
                <div>
                    <div class="points" id="set2_team1">0</div>
                    <p>POINTS</p>
                </div>
                <div>
                    <div class="sets" id="set3_team1">0</div>
                    <p>SETS</p>
                </div>
            </div>
        </div>

        <div class="team">
            <div class="name" id="name_team1">Team 2</div>
            <div class="logo">
                <img src="/static/volleyball/logos/sant-boi-voley.png" alt="logo1">
            </div>


            <div class="score">
                <div>
                    <div class="sets" id="set3_team1">0</div>
                    <p>SETS</p>
                </div>
                <div>
                    <div class="points" id="set2_team1">0</div>
                    <p>POINTS</p>
                </div>
                <div>
                    <div class="faults" id="set1_team1">0</div>
                    <p>FAULTS</p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/tennis-padel/frontend.js"></script>
</body>

</html>