<!DOCTYPE html>
<html>

<head>
    <title>Scoreboard - Volleyball</title>
    <link rel="stylesheet" href="/static/volleyball/frontend.css">
</head>

<body>
    <div class="board" id="board">
        <div class="team">
            <div class="name" id="name_team1">Team 1</div>
            <div class="logo">
                <img src="/static/volleyball/logos/volei-sant-cugat-b.png" alt="logo1" id="logo_team1">
            </div>


            <div class="score">
                <div>
                    <div class="foults" id="changes_team1">0</div>
                    <p>CHANGES</p>
                </div>
                <div>
                    <div class="points" id="points_team1">0</div>
                    <p>POINTS</p>
                </div>
                <div>
                    <div class="sets" id="sets_team1">0</div>
                    <p>SETS</p>
                </div>
            </div>
        </div>

        <div class="team">
            <div class="name" id="name_team2">Team 2</div>
            <div class="logo">
                <img src="/static/volleyball/logos/sant-boi-voley.png" alt="logo2" id="logo_team2">
            </div>


            <div class="score">
                <div>
                    <div class="sets" id="sets_team2">0</div>
                    <p>SETS</p>
                </div>
                <div>
                    <div class="points" id="points_team2">0</div>
                    <p>POINTS</p>
                </div>
                <div>
                    <div class="foults" id="changes_team2">0</div>
                    <p>CHANGES</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'config.html' %}
</body>

</html>